.App {
  text-align: center;
  font-size: large;
  background-image: url('./images/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
  display:grid;
  grid-template-columns: 100px auto;
  grid-template-rows: min-content auto auto;
  grid-template-areas:
  'header header'
  'sidebar nav'
  'sidebar router';
}

nav {
  background-image: url('./images/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
  /* background-color: white; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: nav;
  border-bottom: thin;
}

.nav-links{
  margin: 50px;
}

header{
  grid-area: header;
  align-items: center;
}

.title{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width: -moz-fit-content;
  width: stretch;
  align-self: center;
  justify-self: center;
}

.main_router{
  grid-area: router;
  background-image: url('./images/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
  background-color: white;
  min-height: 900px;

}

.articles_table{
  grid-area: main;
}

.article_body{
  /* background-color: #E1E6E4; */
  color: #232E49;
  font-weight: bolder;
}

#title_link{
  background-color: white;
}
