.App {
  text-align: center;
  font-size: large;
  background-image: url('./images/newspaper-1173913-1280x960.jpg');
  display:grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 120px 100px auto;
  grid-template-areas:
  'header header'
  'sidebar nav'
  'sidebar router';
}

nav {
  background-color: white;
  padding-top: 1rem;
  grid-area: nav;
}

.nav-links{
  margin: 50px;
}

header{
  grid-area: header;
  align-items: center;
}

.title{
  background-color: #ffce0059;
  color: white;
  width: -moz-fit-content;
  width: stretch;
  align-self: center;
  justify-self: center;
  margin: 30px;
  padding: 0px;
}

.main_router{
  grid-area: router;
}

.articles_table{
  grid-area: main;
}

.article_body{
  background-color:wheat;
  color: blue
}

#title_link{
  background-color: white;
}