/* @media only screen and (max-width: 425px){
html{
  font-size: 250%;
}
} */

.App {
  text-align: center;
  font-size: large;
  background-image: url('./images/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
  display:grid;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
  'header'
  'nav'
  'router';
}

nav {
  background-image: url('./images/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
  /* background-color: white; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  grid-area: nav;
  border-bottom: thin;
}

.nav-links{
  margin: 50px;
}

header{
  grid-area: header;
  align-items: center;
}

h1{
  margin: unset
}

.title{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width: -moz-fit-content;
  width: stretch;
  align-self: center;
  justify-self: center;
}

.main_router{
  grid-area: router;
  background-image: url('./images/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
  background-color: white;
  min-height: 900px;
  margin-left: 20px;
  margin-right: 20px;
margin-bottom: 10px
}

.articles_table{
  grid-area: main;
}

.article_body{
  /* background-color: #E1E6E4; */
  color: #232E49;
  font-weight: bolder;
}

#title_link{
  background-color: white;
}

#username {
  color: white;
  font-style: italic;
  background-color:#232E49;
  width: fit-content;
  float: center;
}